doctype html
html
	head
		title= `${title} | ${h.siteName}`
		link(rel='stylesheet', href='/dist/style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oxygen|Source+Sans+Pro')
		block scripts
			script(src="/dist/App.bundle.js")
			script(src="/dist/courseApi.js")
		
	body
		block sidebar
			.side-nav
				h3 API-Tracking
				
				.menu
					ul
						each item in h.menu
							li
								a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
									span #{item.title}
						if user
							li
								a(href='/logout', class="logout")
									span Log Out
						else 
							li
								a(href='/login', class="login")
									span Login
							li
								a(href='/register', class="register")
									span Register
						if user && user.admin
							li 
								a(href='/add', class="add")
									span Add Course
									
		block messages
			if locals.flashes
				.inner
					.flash-messages
						- const categories = Object.keys(locals.flashes)
						each category in categories
							each message in flashes[category]
								.flash(class=`flash--${category}`)
									p.flash__text!= message
									button.flash__remove(onClick="this.parentElement.remove()") &times;
		.content
			block content
