mixin courseForm(course =  {})
	form(action=`/add/${course._id || ''}` method="POST" class="course__form")
		.form-group
			label(for="name") Title
			input(type="text" name="name" value=course.title class="form-control")
			<br/>
		.form-group
			label(for="description") Description
			textarea(name="description" class="form-control")=course.description
			<br/>
		.form-group
			label(for="video") Video
			input(type="text" name="video" value=course.video class="form-control")
			<br/>
		each val in [1,2,3]
			.question
				//- Questions: Question Answers
				.form-group
					label(for="question") Question #{val}
					input(type="text" id="question" name=`questions[${val}][question]` class="form-control")
					<br/>
				each ans in [1,2,3]
						.form-group.answer-portion
							.answers
								label(for="answers") Answer #{ans}
								input(type="text" id="answers" name=`questions[${val}][answers][${ans}][choice]` class="form-control")
							.checkbox 
								label(for=choice) Correct
								input(type="checkbox" id="choice" value=choice name=`questions[${val}][answers][${ans}][isCorrect]` class="form-control")
								<br/>
				<br/>
		
		input(type="submit" value="Save" class="button")
		
		
		
		
		